/*  通用  */


/*.nav {
    width: 100px;
    height: 128px;
    top: 10px;
}

.nav .logo {
    margin: 0 auto;
    background-size: 50%;
}*/

@media only screen and (max-width: 480px) {
    .nav {
        width: 100px;
        height: 128px;
        top: 10px;
    }
}


/* Projects 作品集*/

.projects_bg {
    overflow: auto;
    height: 100%;
}

.pj_projects_container {
    margin-bottom: 60px;
}

.pj_projects_container h3 {
    font-family: helvetica, "微軟正黑體";
    color: #BDA059;
    text-align: center;
    font-size: 16px;
    margin-bottom: 18px;
}

.pj_projects_container hr {
    border: 1px solid #BDA059;
    margin-bottom: 30px;
}

.image_container {
    padding: 5px;
}

.image_container img {
    /*            margin: 5px;*/
    width: 100%;
    border: 1px solid #EAEAEA;
    border-radius: 3px;
}


/*    About 頁面    */

.about_bg {
    background: url("../img/04-min.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    position: relative;
}

.pj_about_container {
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.about_title {
    color: #BDA059;
    font-family: Helvetica, '微軟正黑體';
    border-bottom: 1px solid #BDA059;
    font-size: 16px;
    letter-spacing: 2px
}

.about_content {
    color: #FFF;
    font-family: Helvetica, '微軟正黑體';
    font-size: 10px;
    text-align: justify;
    text-justify: inter-ideograph;
    letter-spacing: 1px;
    margin-bottom: 50px;
    line-height: 1.5em;
}

.about_contact {
    color: #BDA059;
    font-family: Helvetica, '微軟正黑體';
    font-size: 2em;
}

@media only screen and (max-width: 1200px) {
    .about_content {
        font-size: 10px;
        margin-bottom: 20px;
    }
    .about_contact {
        font-size: 10px;
    }
}

@media only screen and (max-width: 480px) {
    .about_bg {
        overflow: auto;
    }
    .pj_about_container {
        position: relative;
        top: 0;
        left: 0;
        transform: none;
        margin: 120px auto;
    }
}


/* Process 部分 */

.pj_process_container {
    background: rgba(0, 0, 0, 0.7);
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.process_bg {
    background: url("../img/06-min.jpg")
}

.process_title {
    color: #BDA059;
    font-family: Helvetica, "微軟正黑體";
    border-bottom: 1px solid;
    font-size: 16px;
    letter-spacing: 2px;
}

.process_content {
    color: #FFF;
    font-family: Helvetica, "微軟正黑體";
    font-size: 10px;
    letter-spacing: 1px;
    line-height: 1.7em;
}

@media only screen and (max-width: 480px) {
    .process_bg {
        overflow: auto;
    }
    .pj_process_container {
        position: relative;
        top: 0;
        left: 0;
        transform: none;
        margin: 120px auto;
    }
}


/*Coverage 部分*/

.coverage_bg {
    background: url("../img/01-min.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    position: relative;
}

.pj_coverage_container {
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-bottom: 7%;
    padding-top: 5%;
}

.coverage_title {
    color: #BDA059;
    font-family: Helvetica, '微軟正黑體';
    /*border-bottom: 1px solid #BDA059;*/
    font-size: 22px;
    letter-spacing: 2px
}

@media only screen and (max-width: 480px) {
    .coverage_bg {
        overflow: auto;
    }
    .pj_coverage_container {
        position: relative;
        top: 0;
        left: 0;
        transform: none;
        margin: 120px auto;
    }
}


/*Contact 部分*/

.contact_bg {
    background: url("../img/02-min.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    position: relative;
}

.pj_contact_container {
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-bottom: 7%;
    padding-top: 5%;
}

.contact_info {
    border-top: 1px solid #EEE;
    border-bottom: 1px solid #EEE;
    padding: 50px 0;
    margin: 50px auto;
}

.contact_info .contact_content {
    color: #FFF;
}

@media only screen and (max-width: 480px) {
    .contact_bg {
        overflow: auto;
        height: 100%;
    }
    .pj_contact_container {
        position: relative;
        top: 0;
        left: 0;
        transform: none;
        margin: 120px auto;
    }
}
