/* IMPORT RESET */

@import url("reset.css");

/* IMPORT 12 COLUMN RESPONSIVE GS */

@import url("bootstrap.css");

/* Customer CSS */

html,
body {
    background-color: #000;
}


/*        nav area      */

.nav {
    color: #333;
    height: 160px;
    width: 250px;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.9);
    right: 0;
    z-index: 10;
    top: 200px;
    position: fixed;
}

.nav .logo {
    width: 99px;
    height: 128px;
    background: url("../img/logo.png") no-repeat center;
    margin: 20px auto 0;
    cursor: pointer;
}

.nav hr {
    border: 1px solid #ADADAD;
    width: 150px;
    margin-bottom: 100px;
    display: none;
}

.nav ul.menu {
    font-family: Helvetica, '微軟正黑體';
    font-size: 26px;
    font-weight: bold;
    padding-left: 60px;
    display: none;
}

.nav .menu a {
    color: #000;
    text-decoration: none;
}

.nav .menu a:hover {
    color: rgba(0, 0, 0, 0.5);
}

.nav ul li {
    cursor: pointer;
}

.nav ul li.menu_en {
    font-size: 18px;
    color: #9F9F9F;
    margin-bottom: 10px;
}


/*        main area     */

.main {
    max-width: 100vw;
    height: 100vh;
    background-color: #000;
    background-size: cover;
    position: relative;
}

.index_bg {
    background: url('../img/03-min.jpg') no-repeat center;
}

.intro {
    width: 100%;
    height: 60px;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    position: fixed;
    bottom: 0;
}

.cus-container {
    margin: 0 auto;
/*    width: 80%;*/
    display: inline-block;
}

.cus-container li {
    font-size: 14px;
    font-family: Helvetica, '微軟正黑體';
    height: 60px;
    line-height: 60px;
    text-indent: 36px;
    display: inline-block;
    background-position: left center;
    margin-left: 30px;
    color: #FFF;
}

.cus-container li.icon_location {
    background-image: url("../img/icon_location.png");
    background-repeat: no-repeat;
    background-size: 15%;
}

.cus-container li.icon_phone {
    background-image: url("../img/icon_phone.png");
    background-repeat: no-repeat;
    background-size: 24%;
}

.cus-container li.icon_mobile {
    background-image: url("../img/icon_mobile.png");
    background-size: 24%;
    background-repeat: no-repeat;
}

.cus-container li.icon_email {
    background-image: url("../img/icon_email.png");
    background-repeat: no-repeat;
    background-size: 17%;
}

.cus-container li.icon_line {
    background-image: url("../img/icon_line.png");
    background-repeat: no-repeat;
    background-size: 33%;
}

.cus-container li.icon_fb {
    background-image: url("../img/icon_fb.png");
    background-repeat: no-repeat;
    background-size: 36%;
}

@media ( max-width: 1680px) {
    /*        nav area      */
    .nav .logo {
        margin: 30px auto;
    }
    .nav ul {
        font-size: 24px;
    }
    .nav ul li.menu_en {
        font-size: 16px;
    }
}