html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
*{
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
}
html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}
/*clearfix*/

.clear:before, .clear:after {
  content: "";
  display: table;
}

.clear:after {
  clear: both;
}

.clear {
  zoom: 1;
  /*IE 6 & 7*/
}

/*隱藏文字*/
.textHidden{ 
text-indent:100%; 
white-space:nowrap;
overflow:hidden;
}


/*開始*/
body{
	background: #FDFDFD;
}
header{
	height:130px;
	width:100%;
	/*background: url("../img/head_bg.png") no-repeat left bottom #fff;*/
	/*background: url("../img/head_bg.jpg") repeat #fff;*/
	background-color:#f7f7f7;
	border-bottom: solid 4px #EA5455;
	position:relative;
}
.topBar{
	height:26px;
	background-color:#2D4059;
}
header nav .logo{
	height: 105px;
}
header nav .logo .hamburger{
	display:none;
}
header .mobile_menu{
	display:none;
}
header nav .logo img{
	/*width: 265px;*/
	margin-left: 5vw;
}
header .topBar .topNav{
	max-width:1180px;
	margin: auto;
}

header .topBar .topNav ul{
	list-style-type: none;
	text-align: right;
}
header .topBar .topNav ul li{
	display: inline;
	line-height: 26px;
	font-size: 10px;
	margin: 0 3px;
}
header .topBar .topNav ul li a{
	color: #FFF;
	text-decoration: none;
	font-family: 微軟正黑體;
}

header nav{
	position: relative;
}
header nav ul{
	list-style-type: none;
	text-align:right;
	position: absolute;
	top: 58px;
	left: 43%;
}

header nav ul li{
	float:left;
}

header nav ul li a{
	display: block;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	width: 112px;
	height: 44px;
	text-align: center;
	line-height: 44px;
	text-decoration: none;
	color: #333;
	font-size: 20px;
	font-family: 微軟正黑體;
	transition: background-color 0.4s;
}

header nav ul li a:hover{
	color: #ffffff;
	background: #EA5455;
}

header nav ul li .jsMenu .submenu li a{
	background: #a5a5a5;
	border: 3px solid black;
}

.UpperSpace{
	position: relative;
}
#mainSubMenu .jsMenu{
	display: none;
	width: 100%;
	z-index: 4;
	height: 45px;
	background-color: #EA5455;
	position: absolute;
	top: 0;
	left: 0;
	-webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.63);
	-moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.63);
	box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.63);
}

#mainSubMenu .jsMenu ul{
	width: 1180px;
	margin: auto;
}
#mainSubMenu .jsMenu ul li{
	float: left;
	line-height: 45px;
	padding: 0 10px;
}
#mainSubMenu .jsMenu ul li a:before{
	content: "|";
	padding: 0 8px;
}

#mainSubMenu .jsMenu ul li a{
	font-family: 微軟正黑體;
	font-size: 16px;
	text-decoration: none;
	color: #FFF;
	text-align: center;
	display: block;
}

#mainSubMenu .jsMenu ul li a:hover{
	color: #FFD460;
}

footer{
	background-color: #2D4059;
	padding: 10px 0 20px;
	border-top: solid 4px #EA5455;
}
footer .container{
	width: 1180px;
	margin: auto;
	padding-left: 25px;
}
footer .container p{
	font-family: 微軟正黑體;
	color: #FFF;
	line-height: 26px;
	font-size: 14px;
}
footer .container p:first-child{
	color: #878EA0;
}

.footerBar{
	background-color: #1c2837;
	height: 35px;
	font-family:微軟正黑體;
}
.footerBar .container{
	margin: auto;
	width: 1180px;
}
.footerBar .container p{
	color: #909090;
	line-height: 35px;
	font-size: 14px;
}
.footerBar .container p:hover{
	color: #FFD460;
}
.footerBar .container p:first-child{
	float: left;
}
.footerBar .container p:last-child{
	float: right;
}




/*RWD*/
/*當螢幕寬度小於1210px*/
@media screen and (max-width: 1210px) {
	footer .container{
		width: 95vw;
		margin: auto;
		padding-left: 25px;
	}
	.footerBar .container{
		margin: auto;
		width: 95vw;
	}
}

/*當螢幕寬度小於960px*/
@media screen and (max-width: 1000px) {
	header{
		height: auto;
	}
	header .topBar .topNav{
		display:none;
	}
	header nav h1{
		display:none;
	}
	header nav .logo{
		height: auto;
	}
	header nav .logo .hamburger{
		display:inline;
		margin-left:10px;
		color: #2D4059;
	}
	header nav .logo img{
		height: 30px;
		margin-left: auto;
	}
	header nav ul{
		display: none;
	}
	.topBar{
		height: 6px;
	}
	header .mobile_menu{
		height: 100%;
		position: fixed;
		width:300px;
		background-color: #777;
		z-index:1;
		overflow: auto;
		left: -300px;
		display:block;
	}
	
	header .mobile_menu .slideMenuMain{
		padding-left: 15px;
		position: relative;
	}
	header .mobile_menu .slideMenuMain .more_item:before{
		position: absolute;
		content: "\f105";
		font-family: FontAwesome;
		font-style: normal;
		font-weight: normal;
		text-decoration: inherit;
		right: 10px;
		font-size: 2.5em;
	}
	header .mobile_menu .slideMenuMain .more_item.active:before{
		content: "\f107";
	}
	
	header .mobile_menu .slideMenuMain > li{
		font-family:微軟正黑體;
		color: #FFFFFF;
		border-bottom: 2px solid #69696B;
		line-height: 50px;
	}
	
	header .mobile_menu .slideMenuMain > li a{
		color: #FFF;
		display:block;
		font-size:20px;
		text-decoration:none;
	}
	
	header .mobile_menu .slideMenuMain .more_item .submenu{
		background-color:#666;
		margin-left: -15px;
		display:none;
	}
	header .mobile_menu .slideMenuMain .more_item .submenu > li{
		padding-left:30px;
		border-top:1px solid #55565b
	}
	header .mobile_menu .slideMenuMain .more_item .submenu > li a{
		font-size: 18px;
	}
}

/*當螢幕寬度小於768px*/
@media screen and (max-width: 768px) {
	footer .container{
		width: 95vw;
		margin: auto;
		padding:0;
		/*padding-left: 25px;*/
	}
	.footerBar{
		height: auto;
		padding-top: 13px;
	}
	.footerBar .container{
		margin: auto;
		width: 95vw;
	}

	.footerBar .container p:first-child{
		float: none;
		line-height: 1.5em;
	}
	.footerBar .container p:last-child{
		float: none;
	}
}